<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Prefeitura Salto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/layouts/estilo.css">
  </head>

  <body>
    <div id="corpo">
    <div id="logo">
      <div class="circle"><img src="/css/layouts/logo.svg" id="imglogo"></div>

      <span>Termos Programa de Demissão Incetivada</span>
    </div>

    <div id="box1">
      <div class="caixa">
        <ul>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          voluptas velit temporibus doloribus repudiandae quis, distinctio
          assumenda ab obcaecati officia dolores? Maxime eaque, qui saepe
          corporis exercitationem rerum omnis iure? Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic possimus modi nesciunt laborum ducimus? Cum commodi voluptas quisquam sequi soluta quia ducimus, sit nemo tenetur ex eos hic ea beatae?
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, obcaecati. Tenetur debitis dolore dolorum exercitationem officiis totam sint consequatur eveniet consectetur? Dicta ea ratione tempore, nostrum molestiae porro minima ipsa!
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti voluptatem et temporibus in hic totam debitis! Explicabo quia voluptatum autem perspiciatis ea in iure, molestias minus sed, veniam sit laboriosam.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit unde ad alias! Vel itaque labore, soluta quisquam minima odio, molestiae ex ipsa dolores mollitia quaerat eum nulla distinctio velit nostrum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic possimus modi nesciunt laborum ducimus? Cum commodi voluptas quisquam sequi soluta quia ducimus, sit nemo tenetur ex eos hic ea beatae?
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, obcaecati. Tenetur debitis dolore dolorum exercitationem officiis totam sint consequatur eveniet consectetur? Dicta ea ratione tempore, nostrum molestiae porro minima ipsa!
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti voluptatem et temporibus in hic totam debitis! Explicabo quia voluptatum autem perspiciatis ea in iure, molestias minus sed, veniam sit laboriosam.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit unde ad alias! Vel itaque labore, soluta quisquam minima odio, molestiae ex ipsa dolores mollitia quaerat eum nulla distinctio velit nostrum?</li>
          </ul>
      </div>
    </div>

    <div id="box2">
      <div class="caixa">
        <ul>
         <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic possimus modi nesciunt laborum ducimus? Cum commodi voluptas quisquam sequi soluta quia ducimus, sit nemo tenetur ex eos hic ea beatae?
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, obcaecati. Tenetur debitis dolore dolorum exercitationem officiis totam sint consequatur eveniet consectetur? Dicta ea ratione tempore, nostrum molestiae porro minima ipsa!
         Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti voluptatem et temporibus in hic totam debitis! Explicabo quia voluptatum autem perspiciatis ea in iure, molestias minus sed, veniam sit laboriosam.
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit unde ad alias! Vel itaque labore, soluta quisquam minima odio, molestiae ex ipsa dolores mollitia quaerat eum nulla distinctio velit nostrum?
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic possimus modi nesciunt laborum ducimus? Cum commodi voluptas quisquam sequi soluta quia ducimus, sit nemo tenetur ex eos hic ea beatae?
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, obcaecati. Tenetur debitis dolore dolorum exercitationem officiis totam sint consequatur eveniet consectetur? Dicta ea ratione tempore, nostrum molestiae porro minima ipsa!
         Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti voluptatem et temporibus in hic totam debitis! Explicabo quia voluptatum autem perspiciatis ea in iure, molestias minus sed, veniam sit laboriosam.
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit unde ad alias! Vel itaque labore, soluta quisquam minima odio, molestiae ex ipsa dolores mollitia quaerat eum nulla distinctio velit nostrum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic possimus modi nesciunt laborum ducimus? Cum commodi voluptas quisquam sequi soluta quia ducimus, sit nemo tenetur ex eos hic ea beatae?
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, obcaecati. Tenetur debitis dolore dolorum exercitationem officiis totam sint consequatur eveniet consectetur? Dicta ea ratione tempore, nostrum molestiae porro minima ipsa!
         Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti voluptatem et temporibus in hic totam debitis! Explicabo quia voluptatum autem perspiciatis ea in iure, molestias minus sed, veniam sit laboriosam.
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit unde ad alias! Vel itaque labore, soluta quisquam minima odio, molestiae ex ipsa dolores mollitia quaerat eum nulla distinctio velit nostrum?</li>
        </ul>

      </div>
    </div>

    <div id="caixaBotao">
      <div class="clicaveis">
        
        <div class="check">
          <input type="checkbox" checked="checked"/>
          <label class="checktext"></label>Eu li atentamente o decreto municipal N00-000</label
          >
        </div>

        <div class="check">
          <input type="checkbox" checked="checked"/>
          <label class="checktext">Eu li atentamente as regras e os termos do PDI</label
          >
        </div>
      
        <div class="button">
        <button id="botao">Eu li e aceito todos os termos</button>
        </div>
      
      </div>

    </div>
  </div>
  </body>
</html>
