<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/cddaf0c0ff.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,300;1,700&family=Poppins:wght@200;300;400;500;600;700&family=Roboto+Flex:opsz,wght@8..144,300;8..144,500;8..144,700;8..144,900&family=Roboto:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/glider.css" />
    <link rel="stylesheet" href="/css/main-page.css" />
    <title>Main | Pref. de Salto</title>
  </head>
  <body class="bg-light">
    <div class="container-fluid">
      <%- include('../layout/header') %>
      <div class="row mb-3">
        <div class="col-lg-2 col-sm-0" id="menu-col">
          <%- include('../layout/navbar') %>
        </div>
        <div
          class="col-lg-10 d-flex align-items-center justify-content-center p-3 flex-column"
          id="content"
        >
          <div
            class="carrossel-container d-flex align-items-center justify-content-center flex-column overflow-hidden position-relative"
          >
            <div class="carrossel-title fs-4 fw-bold text-dark mb-2">
              Acesso Rápido
            </div>

            <div class="glider-contain mb-5">
              <div class="glider">
                <div class="card p-2 me-2" style="width: 18rem">
                  <img
                    src="/assets/img/undraw_agreement_re_d4dv.svg"
                    class="card-img-top img-fluid"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title text-center text-dark fw-bold">
                      PDI
                    </h5>

                    <a href="/sistema/pdi/login" class="card-btn">ACESSE</a>
                  </div>
                </div>
                <div class="card p-2 me-2" style="width: 18rem">
                  <img
                    src="/assets/img/undraw_agreement_re_d4dv.svg"
                    class="card-img-top img-fluid"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title text-center text-dark fw-bold">
                      PDI
                    </h5>

                    <a href="#" class="card-btn">ACESSE</a>
                  </div>
                </div>
                <div class="card p-2 me-2" style="width: 18rem">
                  <img
                    src="/assets/img/undraw_agreement_re_d4dv.svg"
                    class="card-img-top img-fluid"
                    alt="card-img"
                  />
                  <div class="card-body">
                    <h5 class="card-title text-center text-dark fw-bold">
                      PDI
                    </h5>

                    <a href="#" class="card-btn">ACESSE</a>
                  </div>
                </div>
                <div class="card p-2 me-2" style="width: 18rem">
                  <img
                    src="/assets/img/undraw_agreement_re_d4dv.svg"
                    class="card-img-top img-fluid"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title text-center text-dark fw-bold">
                      PDI
                    </h5>

                    <a href="#" class="card-btn">ACESSE</a>
                  </div>
                </div>
              </div>

              <button aria-label="Previous" class="glider-prev">«</button>
              <button aria-label="Next" class="glider-next">»</button>
              <div role="tablist" class="dots"></div>
            </div>
          </div>
          <% if (user.level === 0) { %>
          <div
            class="row d-flex align-items-center justify-content-center flex-column w-100"
            id="statistics"
          >
            <div class="statistics-title fs-4 fw-bold mb-3 text-center w-100">
              Solicitações recentes
            </div>
            <div
              class="statistics-body d-flex align-items-center justify-content-center w-100"
            >
              <% if(user.horas){ %>
              <h1>foo</h1>
              <% } else{ %>
              <h1>Nenhuma solicitação recente.</h1>
              <% } %>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/layout.js"></script>
    <script src="/js/glider.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
