<footer
  class="container-fluid text-light w-100 d-flex align-items-center justify-content-between border-top mt-4"
>
  <div class="p-2 d-flex align-items-center justify-content-center flex-column">
    <div>
      <p class="h5 text-dark">DESENVOLVEDORES:</p>
    </div>
    <div class="d-flex align-items-center justify-content-center fs-6">
      <a
        href="https://www.linkedin.com/in/gustavo-web/"
        target="_blank"
        rel="noopener noreferrer"
        class="border-end border-start border-dark p-1 text-center"
      >
        GUSTAVO DIAS
      </a>
      <a
        href="https://www.linkedin.com/in/RDO4/"
        target="_blank"
        rel="noopener noreferrer"
        class="border-end border-dark p-1 text-center"
      >
        RODOLFO OLIVEIRA
      </a>
      <a
        href="https://www.linkedin.com/in/vinicius-palmieri-serafim-lossavero-6a2029225/"
        target="_blank"
        rel="noopener noreferrer"
        class="border-end border-dark p-1 text-center"
      >
        VINICIUS PALMIERI
      </a>
      <a
        href="https://www.linkedin.com/in/marcos-padovani-882a98188/"
        target="_blank"
        rel="noopener noreferrer"
        class="border-end border-dark p-1 text-center"
      >
        MARCOS PADOVANI
      </a>
    </div>
  </div>
  <div class="p-2">
    <img
      src="/assets/img/logo 2 adm.png"
      alt="logo administração"
      class="img-fluid"
    />
  </div>
</footer>
