<header
  class="container-fluid d-flex align-items-center justify-content-between shadow-sm position-sticky top-0"
  id="header"
>
  <div class="p-2">
    <img
      src="/assets/img/logotipo_prefeitura.png"
      alt="logo"
      class="img-fluid w-50"
    />
  </div>
  <div class="p-2 d-flex">
    <span class="mr-3">
      <button class="btn btn-sm fs-4" id="go-back">
        <i class="fa-solid fa-arrow-left"></i>
      </button>
    </span>
    <span>
      <button class="btn btn-sm fs-4" type="button" id="menu-btn-toggler">
        <i class="fa-solid fa-bars"></i>
      </button>
    </span>
    <span>
      <a href="/logout">
        <button class="btn btn-sm fs-4" type="button" id="leave-btn-toggler">
          <i class="fa-solid fa-power-off"></i>
        </button>
      </a>
    </span>
  </div>
</header>
