<header
  class="container-fluid d-flex align-items-center justify-content-between p-3 border-bottom"
>
  <a href="/sistema/horas-extras/main">
    <div class="logo">
      <img src="/assets/img/logo.png" alt="logo" class="img-fluid w-50" />
    </div>
  </a>

  <div class="menu d-flex align-items-center justify-content-evenly">
    <div id="goback" class="ms-2" style="cursor: pointer">
      <i class="bi bi-arrow-left-short"></i>
    </div>
    <div class="menu-toggler ms-2">
      <i class="bi bi-list"></i>
    </div>
    <div class="logout ms-2">
      <a href="/sistemas/horas-extras/logout">
        <i class="bi bi-power"></i>
      </a>
    </div>
  </div>
</header>
