<aside
  class="d-flex align-items-center justify-content-center flex-column p-3 vh-100"
>
  <div class="logo-menu">
    <img src="/assets/img/logo.png" alt="logo" />
  </div>
  <div class="wrapper">
    <div
      class="nav-header d-flex align-items-center justify-content-center flex-column p-4 border-bottom mb-4"
    >
      <div class="text-muted fs-6 text-left">Bem-vindo(a),</div>
      <div class="nav-title fs-4 text-center mb-3">
        <span><%= user.name.split(' ')[0].toUpperCase() %></span>
      </div>
      <div class="mb-3 text-muted text-left" id="nav-matricula">
        MATRICULA: <%= user.matricula %>
      </div>
    </div>
    <div class="menu-items">
      <ul class="list-group d-flex align-items-start justify-content-center">
        <li class="mb-3">
          <a
            href="/sistemas/horas-extras/<%= user.matricula %>/minha-conta"
            class="text-dark"
          >
            <i class="bi bi-person"></i> MINHA CONTA
          </a>
        </li>
        <% if (user.level === 0) { %>
        <li class="mb-3">
          <a href="/sistemas/horas-extras/solicitar" class="text-dark">
            <i class="bi bi-alarm"></i> SOLICITAR HORA EXTRA
          </a>
        </li>
        <% } %> <% if (user.level > 0) { %>
        <li class="mb-3">
          <a href="/sistemas/horas-extras/procurar" class="text-dark">
            <i class="bi bi-search"></i> CONSULTAR FUNCIONÁRIO
          </a>
        </li>
        <% } %>
        <li class="mb-3">
          <a href="/sistemas/horas-extras/solicitacoes" class="text-dark">
            <i class="bi bi-list-nested"></i> SOLICITAÇÕES
          </a>
        </li>
        <% if (user.level > 2) { %>
        <li class="mb-3">
          <a href="/sistemas/horas-extras/admin/dashboard" class="text-dark">
            <i class="bi bi-clipboard2-data"></i> PAINEL ADMIN
          </a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</aside>
